@model VehicleDetails
<div class="container">
    <div>
        <h2> Edit Vehicle Details</h2>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-3 mt-2">
                <label asp-for="@Model.Car_Name" class="form-label"></label>
                <input asp-for="@Model.Car_Name" class="form-control" />
                <span asp-validation-for="@Model.Car_Name" class="text-danger"></span>
            </div>
            <div class="col-3 mt-2">
                <label asp-for="Carmodel" class="form-label"></label>
                <div class="form-group">

                    @Html.DropDownList("Carmodel", new List<SelectListItem>
                    {
                    new SelectListItem { Text = "2021", Value = "2021"},
                    new SelectListItem { Text = "2022", Value = "2022"},
                    new SelectListItem { Text = "2023", Value = "2023"},
                    new SelectListItem { Text = "2024", Value = "2024"},
                    new SelectListItem { Text = "2025", Value = "2025"},
                    }, "Select car model ", new { @class = "form-control" })
                </div>
                <span asp-validation-for="Carmodel" class="text-danger"></span>
            </div>

            <div class="col-3 mt-2">
                <label asp-for="V_I_N" class="form-label"></label>
                <input asp-for="V_I_N" class="form-control"   />
                <span asp-validation-for="V_I_N" class="text-danger"></span>
            </div>

            <div class="col-3 mt-2">
                <label asp-for="Color" class="form-label"></label>
                <input asp-for="Color" class="form-control"   />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>

            <div class="col-3 mt-2">
                <label asp-for="Milege" class="form-label"></label>
                <input asp-for="Milege" class="form-control"  />
                <span asp-validation-for="Milege" class="text-danger"></span>
            </div>

            <div class="col-3 mt-2">
                <label asp-for="FuelType" class="form-label"></label>
                <div class="form-group">
                    @Html.DropDownList("FuelType", new List<SelectListItem>
                    {
                    new SelectListItem { Text = "Petrol", Value = "Petrol"},
                    new SelectListItem { Text = "Diesel", Value = "Diesel"},

                    }, "Select Fuel Type ", new { @class = "form-control" })
                </div>
                <span asp-validation-for="FuelType" class="text-danger"></span>
            </div>

            <div class="col-12 mt-4">
                <a asp-controller="Vehicle" asp-action="Index" class="btn btn-danger">Back</a>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
</div>